<!DOCTYPE html>
<html>
<head>
    <title>Gastro Entdeckungen</title>
</head>
<body>
    <h1>Willkommen bei Gastro-Entdeckungen</h1>
    <a href="/add_tip">Neuen Tipp hinzufügen</a><br>
    <a href="/search">Bars/Restaurants suchen</a><br>
    <a href="/frequent_visitors">Häufige Besucher</a><br>
    <a href="/user_tips">Benutzergenerierte Tipps</a><br>
    <a href="/preferences">Benutzerpräferenzen verwalten</a><br>
    <a href="/standard_search_criteria">Standard-Suchkriterien</a><br>
</body>
</html>

